.container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  .card {
    margin: 16px;
    width: 200px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }
    h3 {
      margin: 12px 0 8px 0;
      font-size: 1.2em;
    }
  }
}
