.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
  background-color: black;
}

.empty {
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.card {
  width: 200px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  p {
    margin: 12px 0 8px 0;
    font-size: 1.2em;
    color: white;
  }
}
